<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="cn.com.zhihetech.online">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <!--环信权限配置-->
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <!--<uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION" />-->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />

    <application
        android:name=".core.ZhiheApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon, android:theme">
        <activity android:name=".ui.activity.StartActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.activity.LoginActivity" />
        <activity
            android:name=".ui.activity.RegisterVerCodeActivity"
            android:label="@string/regist_vercode" />
        <activity
            android:name=".ui.activity.RegisterUserInfoActivity"
            android:label="@string/user_info" />
        <activity
            android:name=".ui.activity.UserProtocolActivity"
            android:label="@string/user_protocol" />
        <activity
            android:name=".ui.activity.ForgetPwdActivity"
            android:label="@string/find_password" />
        <activity android:name=".ui.activity.MainActivity" />
        <activity
            android:name=".ui.activity.ShoppingCenterActivity"
            android:label="@string/shopping_center" />
        <activity
            android:name=".ui.activity.FeaturedBlocksActivity"
            android:label="@string/featured_block" />
        <activity
            android:name=".ui.activity.MerchantListActivity"
            android:label="@string/daily_new"></activity>
        <activity
            android:name=".ui.activity.MerchantHomeActivity"
            android:label="@string/merchant_home"></activity>
        <activity
            android:name=".ui.activity.GoodsInfoActivity"
            android:label="@string/goods_detail"></activity>
        <activity
            android:name=".ui.activity.CategoryActivity"
            android:label="@string/category"></activity>
        <activity android:name=".ui.activity.CategoryDetailActivity" />
        <activity android:name=".ui.activity.SearchActivity" />
        <activity
            android:name=".ui.activity.ReceiptAddressActivity"
            android:label="@string/receipt_address" />
        <activity
            android:name=".ui.activity.AddOrEditReceiptActivity"
            android:label="@string/add_receipt_address" />
        <activity
            android:name=".ui.activity.MyFavoritesActivity"
            android:label="@string/my_favorites" />
        <activity
            android:name=".ui.activity.OrderConfirmActivity"
            android:label="@string/order_confirm" />
        <activity
            android:name=".ui.activity.OrderActivity"
            android:label="@string/my_order" />
        <activity
            android:name=".ui.activity.EvaluateActivity"
            android:label="@string/order_evaluate" />
        <activity
            android:name=".ui.activity.OrderDetailActivity"
            android:label="@string/order_detail" />
        <activity android:name=".ui.activity.SingleChatActivity" />
        <activity
            android:name=".ui.activity.ActivityInfoActivity"
            android:label="@string/activity_page" />
        <activity
            android:name=".ui.activity.ActivityChatRoomActivity"
            android:label="@string/activity_main_center" />
        <activity
            android:name=".ui.activity.ActivityFansActivity"
            android:label="@string/activity_fans" />
        <activity
            android:name=".ui.activity.RedEnvelopItemDetailActivity"
            android:label="@string/red_envelop_item_detail" />
        <activity
            android:name=".ui.activity.ChangePasswordActivity"
            android:label="@string/change_password" />
        <activity
            android:name=".ui.activity.SeckillGoodsInfoActivity"
            android:label="@string/goods_detail" />
        <activity
            android:name=".ui.activity.MyRedEnvelopItemListActivity"
            android:label="@string/my_red_envelope" />
        <activity
            android:name=".ui.activity.MyWalletActivity"
            android:label="@string/my_wallet" />
        <activity
            android:name=".ui.activity.AboutUsActivity"
            android:label="@string/about_us" />
        <activity
            android:name=".ui.activity.UserInfoChangeActivity"
            android:label="@string/user_info_change" />
        <activity
            android:name=".ui.activity.UserHeaderModifyActivity"
            android:label="@string/header_modify" />
        <activity
            android:name=".ui.activity.WalletTakeMoneyResultActivity"
            android:label="@string/take_money_result" />


        <!--商家版-->
        <activity
            android:name=".ui.activity.MerchantLoginActivity"
            android:label="@string/merchant_login" />
        <activity
            android:name=".ui.activity.MerchantMainActivity"
            android:label="@string/app_merchant_version" />
        <activity
            android:name=".ui.activity.GoodsListActivity"
            android:label="@string/my_goods" />
        <activity
            android:name=".ui.activity.RedEnvelopeListActivity"
            android:label="@string/my_red_envelope" />
        <activity
            android:name=".ui.activity.SeckillGoodsListActivity"
            android:label="@string/my_seckill_goods" />

        <!--Services配置-->
        <service android:name=".core.service.CheckAppUpdateService" />

        <!--Ping++支付配置开始-->
        <!-- Ping++ SDK -->
        <activity
            android:name="com.pingplusplus.android.PaymentActivity"
            android:configChanges="orientation|screenSize"
            android:launchMode="singleTop"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <!-- 微信支付 -->
        <activity-alias
            android:name=".wxapi.WXPayEntryActivity"
            android:exported="true"
            android:targetActivity="com.pingplusplus.android.PaymentActivity" />

        <!-- 支付宝 -->
        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind"></activity>
        <activity
            android:name="com.alipay.sdk.auth.AuthActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind"></activity>

        <!-- 银联支付 -->
        <activity android:name="com.unionpay.uppay.PayActivity" />
        <!--Ping++支付配置结束-->

        <!-- 设置环信应用的appkey -->
        <meta-data
            android:name="EASEMOB_APPKEY"
            android:value="0871zhkj#zhihedianshang" />
        <!-- 声明环信sdk所需的service SDK核心功能-->
        <service android:name="com.easemob.chat.EMChatService" />
        <!-- ATTENTION: This was auto-generated to add Google Play services to your project for
             App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information. -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
    </application>

</manifest>
