<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="cn.com.zhihetech.online">

    <permission
        android:name="${applicationId}.permission.JPUSH_MESSAGE"
        android:protectionLevel="signature" />
    <uses-permission android:name="${applicationId}.permission.JPUSH_MESSAGE" />

    <!--小米推送-->
    <permission
        android:name="${applicationId}.permission.MIPUSH_RECEIVE"
        android:protectionLevel="signature" />
    <uses-permission android:name="${applicationId}.permission.MIPUSH_RECEIVE" />

    <!--极光推送权限-->
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <!-- 极光推送定位服务 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />

    <!--通用权限-->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <!--添加可以向外拨打电话的权限  -->
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <!--环信权限配置-->
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <!--<uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION" />-->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />

    <application
        android:name=".core.ZhiheApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon, android:theme">
        <activity android:name=".ui.activity.StartActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.activity.LoginActivity" />
        <activity
            android:name=".ui.activity.PushNotificationDetailActivity"
            android:label="@string/push_detail"
            android:launchMode="singleTop" />
        <activity
            android:name=".ui.activity.RegisterVerCodeActivity"
            android:label="@string/regist_vercode" />
        <activity
            android:name=".ui.activity.RegisterUserInfoActivity"
            android:label="@string/user_info" />
        <activity
            android:name=".ui.activity.UserProtocolActivity"
            android:label="@string/user_protocol" />
        <activity
            android:name=".ui.activity.ForgetPwdActivity"
            android:label="@string/find_password" />
        <activity android:name=".ui.activity.MainActivity" />
        <activity
            android:name=".ui.activity.MessageActivity"
            android:label="@string/message" />
        <activity
            android:name=".ui.activity.ShoppingCenterActivity"
            android:label="@string/shopping_center" />
        <activity
            android:name=".ui.activity.FeaturedBlocksActivity"
            android:label="@string/featured_block" />
        <activity
            android:name=".ui.activity.MerchantListActivity"
            android:label="@string/daily_new"></activity>
        <activity
            android:name=".ui.activity.CoreCenterActivity"
            android:label="@string/core_activity" />
        <activity
            android:name=".ui.activity.ComplaintActivity"
            android:label="@string/complaint_rights" />
        <activity
            android:name=".ui.activity.MerchantHomeActivity"
            android:label="@string/merchant_home"></activity>
        <activity
            android:name=".ui.activity.GoodsInfoActivity"
            android:label="@string/goods_detail"></activity>
        <activity
            android:name=".ui.activity.GoodsCommentActivity"
            android:label="@string/goods_comment" />
        <activity
            android:name=".ui.activity.CategoryActivity"
            android:label="@string/category"></activity>
        <activity android:name=".ui.activity.CategoryDetailActivity" />
        <activity android:name=".ui.activity.SearchActivity" />
        <activity
            android:name=".ui.activity.ReceiptAddressActivity"
            android:label="@string/receipt_address" />
        <activity
            android:name=".ui.activity.AddOrEditReceiptActivity"
            android:label="@string/add_receipt_address" />
        <activity
            android:name=".ui.activity.MyFavoritesActivity"
            android:label="@string/my_favorites" />
        <activity
            android:name=".ui.activity.OrderConfirmActivity"
            android:label="@string/order_confirm" />
        <activity
            android:name=".ui.activity.OrderActivity"
            android:label="@string/my_order" />
        <activity
            android:name=".ui.activity.EvaluateActivity"
            android:label="@string/order_evaluate" />
        <activity
            android:name=".ui.activity.OrderDetailActivity"
            android:label="@string/order_detail" />
        <activity
            android:name=".ui.activity.SingleChatActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".ui.activity.ActivityInfoActivity"
            android:label="@string/activity_page" />
        <activity
            android:name=".ui.activity.ActivityChatRoomActivity"
            android:label="@string/activity_main_center" />
        <activity
            android:name=".ui.activity.ActivityGoodsOrderActivity"
            android:label="@string/order_confirm" />
        <activity
            android:name=".ui.activity.ActivityFansActivity"
            android:label="@string/activity_fans" />
        <activity
            android:name=".ui.activity.RedEnvelopItemDetailActivity"
            android:label="@string/red_envelop_item_detail" />
        <activity
            android:name=".ui.activity.ChangePasswordActivity"
            android:label="@string/change_password" />
        <activity
            android:name=".ui.activity.SeckillGoodsInfoActivity"
            android:label="@string/goods_detail" />
        <activity
            android:name=".ui.activity.MyCouponItemActivity"
            android:label="@string/my_coupon" />
        <activity
            android:name=".ui.activity.CouponItemInfoActivity"
            android:label="@string/coupon_detail_info" />
        <activity
            android:name=".ui.activity.MyRedEnvelopItemListActivity"
            android:label="@string/my_red_envelope" />
        <activity
            android:name=".ui.activity.MyWalletActivity"
            android:label="@string/my_wallet" />
        <activity
            android:name=".ui.activity.AboutUsActivity"
            android:label="@string/about_us" />
        <activity
            android:name=".ui.activity.UserInfoChangeActivity"
            android:label="@string/user_info_change" />
        <activity
            android:name=".ui.activity.UserHeaderModifyActivity"
            android:label="@string/header_modify" />
        <activity
            android:name=".ui.activity.WalletTakeMoneyResultActivity"
            android:label="@string/take_money_result" />
        <activity android:name=".ui.activity.ShowBigImageActivity" />
        <activity
            android:name=".ui.activity.WebPageActivity"
            android:windowSoftInputMode="adjustResize" />


        <!--商家版-->
        <activity
            android:name=".ui.activity.MerchantLoginActivity"
            android:label="@string/merchant_login" />
        <activity
            android:name=".ui.activity.MerchantMainActivity"
            android:label="@string/app_merchant_version" />
        <activity
            android:name=".ui.activity.GoodsListActivity"
            android:label="@string/my_goods" />
        <activity
            android:name=".ui.activity.RedEnvelopeListActivity"
            android:label="@string/my_red_envelope" />
        <activity
            android:name=".ui.activity.SeckillGoodsListActivity"
            android:label="@string/my_seckill_goods" />

        <!--Services配置-->

        <service android:name=".service.CheckUpdateService" />
        <!--后台检查更新-->
        <service android:name=".service.EMChatConnectionService" />
        <!--环信连接监听-->
        <service android:name=".service.EMChatEventService" />
        <!--环信信息监听-->

        <!--Services配置完成-->

        <!--Ping++支付配置开始-->
        <activity
            android:name="com.pingplusplus.android.PaymentActivity"
            android:configChanges="orientation|screenSize"
            android:launchMode="singleTop"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <!-- 微信支付 -->
        <activity-alias
            android:name=".wxapi.WXPayEntryActivity"
            android:exported="true"
            android:targetActivity="com.pingplusplus.android.PaymentActivity" />

        <!-- 支付宝 -->
        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind"></activity>
        <activity
            android:name="com.alipay.sdk.auth.AuthActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind"></activity>

        <!-- 银联支付 -->
        <activity android:name="com.unionpay.uppay.PayActivity" />
        <!--Ping++支付配置结束-->

        <!-- 设置环信应用的appkey -->
        <meta-data
            android:name="EASEMOB_APPKEY"
            android:value="0871zhkj#zhihedianshang" />
        <!-- 声明环信sdk所需的service SDK核心功能-->
        <service android:name="com.easemob.chat.EMChatService" />

        <!--小米推送服务（用户配合环信）-->
        <service
            android:name="com.xiaomi.mipush.sdk.PushMessageHandler"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name="com.xiaomi.mipush.sdk.MessageHandleService"
            android:enabled="true" />

        <receiver
            android:name="com.easemob.chat.EMMipushReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.xiaomi.mipush.RECEIVE_MESSAGE" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.xiaomi.mipush.MESSAGE_ARRIVED" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.xiaomi.mipush.ERROR" />
            </intent-filter>
        </receiver>
        <!--小米推送服务完成-->

        <!-- ATTENTION: This was auto-generated to add Google Play services to your project for
             App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information. -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />


        <!-- Required SDK核⼼心功能-->
        <activity
            android:name="cn.jpush.android.ui.PushActivity"
            android:configChanges="orientation|keyboardHidden"
            android:exported="false"
            android:theme="@android:style/Theme.NoTitleBar">
            <intent-filter>
                <action android:name="cn.jpush.android.ui.PushActivity" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="${applicationId}" />
            </intent-filter>
        </activity>
        <!-- Required SDK核⼼心功能-->
        <service
            android:name="cn.jpush.android.service.DownloadService"
            android:enabled="true"
            android:exported="false"></service>
        <!-- Required SDK 核⼼心功能-->
        <!-- option since 2.0.5 可配置android:process 参数将PushService设置为独⽴立进程 -->
        <service
            android:name="cn.jpush.android.service.PushService"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTER" />
                <action android:name="cn.jpush.android.intent.REPORT" />
                <action android:name="cn.jpush.android.intent.PushService" />
                <action android:name="cn.jpush.android.intent.PUSH_TIME" />
            </intent-filter>
        </service>
        <!-- Required SDK 核⼼心功能 since 1.8.0 -->
        <service
            android:name="cn.jpush.android.service.DaemonService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.DaemonService" />
                <category android:name="${applicationId}" />
            </intent-filter>
        </service>
        <!-- Required SDK核⼼心功能-->
        <receiver
            android:name="cn.jpush.android.service.PushReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter android:priority="1000">
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED_PROXY" />
                <!--Required 显 ⽰示通知栏 -->
                <category android:name="${applicationId}" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
            <!-- Optional -->
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>
        <!-- Required SDK核⼼心功能-->
        <receiver android:name="cn.jpush.android.service.AlarmReceiver" />
        <!-- 用户⾃自定义的广播接收器-->
        <receiver
            android:name="cn.com.zhihetech.online.receiver.JPushReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTRATION" />
                <!-- Required ⽤用户注册SDK的intent-->
                <action android:name="cn.jpush.android.intent.UNREGISTRATION" />
                <action android:name="cn.jpush.android.intent.MESSAGE_RECEIVED" />
                <!--Required ⽤用户接收SDK消息的intent-->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED" />
                <!--Required ⽤用户接收SDK通知栏信息的intent-->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_OPENED" />
                <!--Required ⽤用户打开⾃自定义通知栏的intent-->
                <action android:name="cn.jpush.android.intent.ACTION_RICHPUSH_CALLBACK" />
                <!--Optional ⽤用户接受Rich Push Javascript 回调函数的intent-->
                <action android:name="cn.jpush.android.intent.CONNECTION" />
                <!-- 接收⽹网络变化 连接/断开 since 1.6.3 -->
                <category android:name="${applicationId}" />
            </intent-filter>
        </receiver>
        <!-- Required . Enable it you can get statistics data with channel -->
        <meta-data
            android:name="JPUSH_CHANNEL"
            android:value="developer-default" />
        <!-- 值来⾃自开发者平台取得的AppKey-->
        <meta-data
            android:name="JPUSH_APPKEY"
            android:value="52f157b4b71c12e466d4d2ec" />
    </application>

</manifest>
